*, *:before, *:after {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'segoe UI', Roboto, 'Helvetica Neue', sans-serif;
	background-color: #fff;
	line-height: 1.4;
}

a:link, a:visited {
	color: #0077cc;
}

a:hover, a:focus {
	color: #004499;
}

code, pre {
	max-width: 100%;
}

button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	color: #fff;
	background-color: #0077cc;
	cursor: pointer;
	margin-bottom: 5px;
}

button:hover {
	opacity: 0.8;
}

button:active {
	background-color: #16018a; 
}

